/shared-library/target
/package-builder/target
/package-builder/work/*
/package-builder/dist/*
/package-manager/target
/target
/package-repository/node_modules
/deriver-discover/target
/deriver-pacman/target